//colors
$black-haze: #091b2b;
$gray: #808080;
$green: #008000;
$beige: #f7f7f7;
$black: black;

body {
  padding-top: 50px;
}
.icon-bar {
  width: 30px;
  height: 2px;
  background-color: $beige;
  display: block;
  transition: all 0.2s;
  margin-top: 6px;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
  .top-bar {
    transform: translate(3px) rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: translate(3px) rotate(-45deg);
    transform-origin: 10% 90%;
  }
  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}
#features {
  margin-top: -60px;
  padding-top: 60px;
}
#how-it-works {
  margin-top: -60px;
  padding-top: 60px;
}
#pricing {
  margin-top: -60px;
  padding-top: 60px;
}
.navbar {
  border-bottom: 1px solid $gray;
}
.navbar-brand {
  position: relative;
  left: 30px;
}
#header-img {
  height: 40px;
  width: auto;
  margin-left: 0;
}
@media (min-width: 992px) {
  #header-img {
    height: 40px;
    width: auto;
    margin-left: 40px;
  }
}
#email {
  width: 40%;
}
@media (max-width: 576px) {
  .features-text {
    text-align: center !important;
  }
}
i {
  color: $green;
}
.card-text {
  font-weight: normal;
  font-size: 0.8em;
}
.footer {
  display: flex;
  margin-top: 3em;
  text-align: right;
}
#footer-container {
  background-color: $beige;
  height: 80px;
}
#footer-link {
  color: $black;
  text-decoration: none;
}
